/* 

*/

/* 
    in container 
        perspective is important 
        maybe use more values in this attribute 
        overflow: wenn etwas aus dem Rahmen ist wid es nicht angezeigt

    also in world 
        is transform-style is very important 
        
*/

/* 
    
*/
#pawn {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blueviolet;
    top: 390px;
    left: 590px;
}
#points {
    position: absolute;
    width: auto;
    height: auto;
    top: 20px;
    left: 20px;
    font-size: xx-large;
}
#height {
    position: absolute;
    width: auto;
    height: auto;
    top: 60px;
    left: 20px;
    font-size: xx-large;
}
#x {
    position: absolute;
    width: auto;
    height: auto;
    top: 100px;
    left: 20px;
    font-size: xx-large;
}
#y {
    position: absolute;
    width: auto;
    height: auto;
    top: 140px;
    left: 20px;
    font-size: xx-large;
}
#dz{
    position: absolute;
    width: auto;
    height: auto;
    top: 180px;
    left: 20px;
    font-size: xx-large;
}
 #dx {
    position: absolute;
    width: auto;
    height: auto;
    top: 220px;
    left: 20px;
    font-size: xx-large;
}
#container{
    position: absolute;
    width: 1200px;
    height: 800px;
    border: 2px solid #000;
    perspective: 600px;
    overflow: hidden;
}

#world{
    position: absolute;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    /* transform: rotateY(deg) rotateX(0deg) rotateZ(0deg); */
    transform: 
        rotateY(deg) 
        rotateX(degY) 
        rotateZ(degZ);
        /* rotateZ(0deg); */
}


/* 
    Trapez links
*/
#square{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    transform: 
        translate3d(500px, 300px, 0px) 
        rotateX(0deg)
    ;
    opacity: 0.5;
}


