* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    border: none;
    perspective: 600px;
    overflow: hidden;
    background-color: #000;
}

#world{
    position: absolute;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
}